<main>
  <section>
    <div class="grid" *ngFor="let bet of tips">
      <div class="card flex justify-content-center mb-4 m-auto">
        <p-card
          header="Advanced Card"
          subheader="Card Subheader"
          [style]="{ width: '360px' }"
        >
          <p>{{ bet.match }} : {{ bet.bet }}</p>
          <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button
              label="Cancel"
              icon="pi pi-times"
              styleClass="p-button-secondary"
              [style]="{ 'margin-left': '.5em' }"
            ></p-button>
          </ng-template>
        </p-card>
      </div>
    </div>
  </section>
</main>
<!-- fa una card per ogni scommessa inserita -->
