<main id="externalContainer">
  <h1>Your Tip starts here!</h1>
  <h3>First off, choose a league to see scheduled matches for next tourn</h3>
  <div class="grid text-center">
    <section class="col-12 grid">
      <!-- div con serie a e serie b -->

      <!-- CHAMPIONS -->
      <div
        *ngIf="fixturesChampionsLeague.length > 0"
        class="card flex justify-content-around cursor-pointer col-6 sm:col-3"
        id="flagCard"
      >
        <p-card class="p-card-content">
          <ng-template pTemplate="content">
            <img
              id="flag"
              (click)="showDialogChampionsLeague()"
              icon="pi pi-external-link"
              label="Show"
              alt="Card"
              src="https://media.api-sports.io/football/leagues/2.png"
            />
          </ng-template>
        </p-card>
      </div>
      <!-- EUROPA LEAGUE-->
      <div
        *ngIf="fixturesEuropaLeague.length > 0"
        class="card flex justify-content-around cursor-pointer col-6 sm:col-3"
        id="flagCard"
      >
        <p-card class="p-card-content">
          <ng-template pTemplate="content">
            <img
              id="flag"
              alt="Card"
              src="https://media.api-sports.io/football/leagues/3.png"
              (click)="showDialogEuropaLeague()"
            />
          </ng-template>
        </p-card>
      </div>
      <!-- serie a -->
      <div
        *ngIf="fixturesSerieA.length > 0"
        class="card flex justify-content-around cursor-pointer col-6 sm:col-3"
        id="flagCard"
      >
        <p-card class="p-card-content">
          <ng-template pTemplate="content">
            <img
              id="flag"
              (click)="showDialogSerieA()"
              icon="pi pi-external-link"
              label="Show"
              alt="Card"
              src="https://media.api-sports.io/football/leagues/135.png"
            />
          </ng-template>
        </p-card>
      </div>
      <!-- serie b -->
      <div
        *ngIf="fixturesSerieB.length > 0"
        class="card flex justify-content-around cursor-pointer col-6 sm:col-3"
        id="flagCard"
      >
        <p-card class="p-card-content">
          <ng-template pTemplate="content">
            <img
              id="flag"
              alt="Card"
              src="https://media.api-sports.io/football/leagues/136.png"
              (click)="showDialogSerieB()"
            />
          </ng-template>
        </p-card>
      </div>

      <!-- div con premier league e championship  -->
      <!-- premier -->

      <div
        *ngIf="fixturesPremierLeague.length > 0"
        class="card flex justify-content-around cursor-pointer col-6 sm:col-3"
        id="flagCard"
      >
        <p-card class="p-card-content">
          <ng-template pTemplate="content">
            <img
              id="flag"
              alt="Card"
              src="https://media.api-sports.io/football/leagues/39.png"
              (click)="showDialogPremierLeague()"
            />
          </ng-template>
        </p-card>
      </div>
      <div
        *ngIf="fixturesChampionship.length > 0"
        class="card flex justify-content-around cursor-pointer col-6 sm:col-3"
        id="flagCard"
      >
        <p-card class="p-card-content">
          <ng-template pTemplate="content">
            <img
              id="flag"
              alt="Card"
              src="https://media.api-sports.io/football/leagues/40.png"
              (click)="showDialogChampionship()"
            />
          </ng-template>
        </p-card>
      </div>

      <!-- Qui la liga e segunda division -->

      <div
        *ngIf="fixturesLiga.length > 0"
        class="card flex justify-content-around cursor-pointer col-6 sm:col-3"
        id="flagCard"
      >
        <p-card class="p-card-content">
          <ng-template pTemplate="content">
            <img
              id="flag"
              alt="Card"
              src="https://media.api-sports.io/football/leagues/140.png"
              (click)="showDialogLiga()"
            />
          </ng-template>
        </p-card>
      </div>
      <div
        *ngIf="fixturesSegundaDivision.length > 0"
        class="card flex justify-content-around cursor-pointer col-6 sm:col-3"
        id="flagCard"
      >
        <p-card class="p-card-content">
          <ng-template pTemplate="content">
            <img
              id="flag"
              alt="Card"
              src="https://media.api-sports.io/football/leagues/141.png"
              (click)="showDialogSegundaDivision()"
            />
          </ng-template>
        </p-card>
      </div>

      <!-- DA QUI I MODALI CHE SI APRONO -->
      <!-- ------------------------- -->
      <!-- Modale serieA -->

      <!-- Modale serieB -->

      <div class="card flex justify-content-center">
        <p-dialog
          [header]="'Serie A matches of this turn'"
          [(visible)]="visibleSerieA"
          [breakpoints]="{ '960px': '75vw' }"
          [style]="{ height: '50vh' }"
          [draggable]="false"
          [resizable]="false"
          [showHeader]="true"
        >
          <ul class="ulMatchList">
            <ng-container
              *ngFor="let serieAmatch of fixturesSerieA; let i = index"
            >
              <a routerLink="/start/{{ serieAmatch.fixture.id }}">
                <img
                  [src]="serieAmatch.teams.home.logo"
                  alt="SerieBHomeTeamLogo"
                  width="25px"
                  height="25px"
                />

                {{ serieAmatch.teams.home.name }} -

                {{ serieAmatch.teams.away.name }}
                <img
                  [src]="serieAmatch.teams.away.logo"
                  alt="SerieBAwayTeamLogo"
                  width="25px"
                  height="25px"
                />
              </a>
              <p-dialog
                [header]="''"
                [(visible)]="modalMatches"
                [breakpoints]="{ '960px': '75vw' }"
                [style]="{ height: '50vh' }"
                [draggable]="false"
                [resizable]="false"
                [showHeader]="true"
              >
                <p>
                  {{ serieAmatch.teams.home.name }}
                </p>
              </p-dialog>
            </ng-container>
          </ul>
        </p-dialog>
      </div>
      <div class="card flex justify-content-center">
        <p-dialog
          [header]="'Serie B matches of this turn'"
          [(visible)]="visibleSerieB"
          [breakpoints]="{ '960px': '75vw' }"
          [style]="{ height: '50vh' }"
          [draggable]="false"
          [resizable]="false"
          [showHeader]="true"
        >
          <ul class="ulMatchList">
            <ng-container
              *ngFor="let serieBmatch of fixturesSerieB; let i = index"
            >
              <a routerLink="/start/{{ serieBmatch.fixture.id }}">
                <img
                  [src]="serieBmatch.teams.home.logo"
                  alt="SerieBHomeTeamLogo"
                  width="25px"
                  height="25px"
                />

                {{ serieBmatch.teams.home.name }} -

                {{ serieBmatch.teams.away.name }}
                <img
                  [src]="serieBmatch.teams.away.logo"
                  alt="SerieBAwayTeamLogo"
                  width="25px"
                  height="25px"
                />
              </a>
              <p-dialog
                [header]="''"
                [(visible)]="modalMatches"
                [breakpoints]="{ '960px': '75vw' }"
                [style]="{ height: '50vh' }"
                [draggable]="false"
                [resizable]="false"
                [showHeader]="true"
              >
                <p>
                  {{ serieBmatch.teams.home.name }}
                </p>
              </p-dialog>
            </ng-container>
          </ul>
        </p-dialog>
      </div>
      <!-- modal for premier league -->
      <div class="card flex justify-content-center">
        <p-dialog
          [header]="'Premier League matches of this turn'"
          [(visible)]="visiblePremierLeague"
          [breakpoints]="{ '960px': '75vw' }"
          [style]="{ height: '50vh' }"
          [draggable]="false"
          [resizable]="false"
          [showHeader]="true"
        >
          <ul class="ulMatchList">
            <ng-container
              *ngFor="
                let premierLeagueMatch of fixturesPremierLeague;
                let i = index
              "
            >
              <a routerLink="/start/{{ premierLeagueMatch.fixture.id }}">
                <img
                  [src]="premierLeagueMatch.teams.home.logo"
                  alt="SerieBHomeTeamLogo"
                  width="25px"
                  height="25px"
                />

                {{ premierLeagueMatch.teams.home.name }} -

                {{ premierLeagueMatch.teams.away.name }}
                <img
                  [src]="premierLeagueMatch.teams.away.logo"
                  alt="SerieBAwayTeamLogo"
                  width="25px"
                  height="25px"
                />
              </a>
              <p-dialog
                [header]="''"
                [(visible)]="modalMatches"
                [breakpoints]="{ '960px': '75vw' }"
                [style]="{ height: '50vh' }"
                [draggable]="false"
                [resizable]="false"
                [showHeader]="true"
              >
                <p>
                  {{ premierLeagueMatch.teams.home.name }}
                </p>
              </p-dialog>
            </ng-container>
          </ul>
        </p-dialog>
      </div>
      <!-- modal for championship -->
      <div class="card flex justify-content-center">
        <p-dialog
          [header]="'Championship matches of this turn'"
          [(visible)]="visibleChampionship"
          [breakpoints]="{ '960px': '75vw' }"
          [style]="{ height: '50vh' }"
          [draggable]="false"
          [resizable]="false"
          [showHeader]="true"
        >
          <ul class="ulMatchList">
            <ng-container
              *ngFor="
                let ChampionshipMatch of fixturesChampionship;
                let i = index
              "
            >
              <a routerLink="/start/{{ ChampionshipMatch.fixture.id }}">
                <img
                  [src]="ChampionshipMatch.teams.home.logo"
                  alt="SerieBHomeTeamLogo"
                  width="25px"
                  height="25px"
                />

                {{ ChampionshipMatch.teams.home.name }} -

                {{ ChampionshipMatch.teams.away.name }}
                <img
                  [src]="ChampionshipMatch.teams.away.logo"
                  alt="SerieBAwayTeamLogo"
                  width="25px"
                  height="25px"
                />
              </a>
              <p-dialog
                [header]="''"
                [(visible)]="modalMatches"
                [breakpoints]="{ '960px': '75vw' }"
                [style]="{ height: '50vh' }"
                [draggable]="false"
                [resizable]="false"
                [showHeader]="true"
              >
                <p>
                  {{ ChampionshipMatch.teams.home.name }}
                </p>
              </p-dialog>
            </ng-container>
          </ul>
        </p-dialog>
      </div>
      <!-- modal for La liga  -->
      <div class="card flex justify-content-center">
        <p-dialog
          [header]="'La Liga matches of this turn'"
          [(visible)]="visibleLiga"
          [breakpoints]="{ '960px': '75vw' }"
          [style]="{ height: '50vh' }"
          [draggable]="false"
          [resizable]="false"
          [showHeader]="true"
        >
          <ul class="ulMatchList">
            <ng-container *ngFor="let ligaMatch of fixturesLiga; let i = index">
              <a routerLink="/start/{{ ligaMatch.fixture.id }}">
                <img
                  [src]="ligaMatch.teams.home.logo"
                  alt="LaligaHomeTeamLogo"
                  width="25px"
                  height="25px"
                />

                {{ ligaMatch.teams.home.name }} -

                {{ ligaMatch.teams.away.name }}
                <img
                  [src]="ligaMatch.teams.away.logo"
                  alt="LaligaAwayTeamLogo"
                  width="25px"
                  height="25px"
                />
              </a>
              <p-dialog
                [header]="''"
                [(visible)]="modalMatches"
                [breakpoints]="{ '960px': '75vw' }"
                [style]="{ height: '50vh' }"
                [draggable]="false"
                [resizable]="false"
                [showHeader]="true"
              >
                <p>
                  {{ ligaMatch.teams.home.name }}
                </p>
              </p-dialog>
            </ng-container>
          </ul>
        </p-dialog>
      </div>
      <!-- modal for segunda division -->
      <div class="card flex justify-content-center">
        <p-dialog
          [header]="'Segunda División matches of this turn'"
          [(visible)]="visibleSegundaDivision"
          [breakpoints]="{ '960px': '75vw' }"
          [style]="{ height: '50vh' }"
          [draggable]="false"
          [resizable]="false"
          [showHeader]="true"
        >
          <ul class="ulMatchList">
            <ng-container
              *ngFor="
                let segundaDivisionMatch of fixturesSegundaDivision;
                let i = index
              "
            >
              <a routerLink="/start/{{ segundaDivisionMatch.fixture.id }}">
                <img
                  [src]="segundaDivisionMatch.teams.home.logo"
                  alt="LaligaHomeTeamLogo"
                  width="25px"
                  height="25px"
                />

                {{ segundaDivisionMatch.teams.home.name }} -

                {{ segundaDivisionMatch.teams.away.name }}
                <img
                  [src]="segundaDivisionMatch.teams.away.logo"
                  alt="LaligaAwayTeamLogo"
                  width="25px"
                  height="25px"
                />
              </a>
              <p-dialog
                [header]="''"
                [(visible)]="modalMatches"
                [breakpoints]="{ '960px': '75vw' }"
                [style]="{ height: '50vh' }"
                [draggable]="false"
                [resizable]="false"
                [showHeader]="true"
              >
                <p>
                  {{ segundaDivisionMatch.teams.home.name }}
                </p>
              </p-dialog>
            </ng-container>
          </ul>
        </p-dialog>
      </div>
    </section>
  </div>
</main>
