<main id="externalContainer">
  <div class="grid text-center">
    <section class="col">
      <h1>Your Tip starts here!</h1>
      <h3>
        First off, choose a league to see scheduled matches for next tourn
      </h3>
      <div class="flex justify-content-center">
        <div
          *ngIf="fixturesSerieA.length > 0"
          class="card flex justify-content-center"
          id="flagCard"
        >
          <p-card class="p-card-content">
            <ng-template pTemplate="content">
              <img
                id="flag"
                alt="Card"
                src="https://media.api-sports.io/football/leagues/135.png"
              />
            </ng-template>
          </p-card>
        </div>
        <div
          *ngIf="fixturesSerieB.length > 0"
          class="card flex justify-content-center"
          id="flagCard"
        >
          <p-card class="p-card-content">
            <ng-template pTemplate="content">
              <img
                id="flag"
                alt="Card"
                src="https://media.api-sports.io/football/leagues/136.png"
              />
            </ng-template>
          </p-card>
        </div>
      </div>
    </section>

    <!-- Mi tengo questa col sotto tante volte volessi inserire una colonna per le ads -->
    <!-- <div class="col">2</div> -->
  </div>
</main>
