<main id="externalContainer">
  <div class="grid text-center">
    <section class="col">
      <h1>Your Tip starts here!</h1>
      <h3>
        First off, choose a league to see scheduled matches for next tourn
      </h3>
      <div class="flex justify-content-center">
        <!-- appears only if this week there will be serie a matches -->
        <div
          *ngIf="fixturesSerieA.length > 0"
          class="card flex justify-content-center"
          id="flagCard"
        >
          <p-card class="p-card-content">
            <ng-template pTemplate="content">
              <img
                id="flag"
                (click)="showDialogSerieA()"
                icon="pi pi-external-link"
                label="Show"
                alt="Card"
                src="https://media.api-sports.io/football/leagues/135.png"
              />
            </ng-template>
          </p-card>
        </div>
        <!-- appears only if this week there will be serie b matches -->

        <div
          *ngIf="fixturesSerieB.length > 0"
          class="card flex justify-content-center"
          id="flagCard"
        >
          <p-card class="p-card-content">
            <ng-template pTemplate="content">
              <img
                id="flag"
                alt="Card"
                src="https://media.api-sports.io/football/leagues/136.png"
                (click)="showDialogSerieB()"
              />
            </ng-template>
          </p-card>
        </div>
      </div>
      <!-- modal serieA -->
      <div id="cardListMatch" class="card flex justify-content-center">
        <p-dialog
          [header]="'Serie A matches of this turn'"
          [(visible)]="visibleSerieA"
          [breakpoints]="{ '960px': '75vw' }"
          [style]="{ height: '50vh' }"
          [draggable]="false"
          [resizable]="false"
          [showHeader]="true"
        >
          <ul class="ulMatchList">
            <li
              (click)="showModalSingleSeriebMatch()"
              class="matchList"
              *ngFor="let serieAmatch of fixturesSerieA"
            >
              <img
                [src]="serieAmatch.teams.home.logo"
                alt="SerieAHomeTeamLogo"
                width="25px"
                height="25px"
              />

              {{ serieAmatch.teams.home.name }} -

              {{ serieAmatch.teams.away.name }}
              <img
                [src]="serieAmatch.teams.away.logo"
                alt="SerieAAwayTeamLogo"
                width="25px"
                height="25px"
              />
            </li>
          </ul>
        </p-dialog>
      </div>

      <!-- modal for serieB matches -->
      <div class="card flex justify-content-center">
        <p-dialog
          [header]="'Serie B matches of this turn'"
          [(visible)]="visibleSerieB"
          [breakpoints]="{ '960px': '75vw' }"
          [style]="{ height: '50vh' }"
          [draggable]="false"
          [resizable]="false"
          [showHeader]="true"
        >
          <ul class="ulMatchList">
            <ng-container
              *ngFor="let serieBmatch of fixturesSerieB; let i = index"
            >
              <a routerLink="/start/{{ serieBmatch.fixture.id }}">
                <img
                  [src]="serieBmatch.teams.home.logo"
                  alt="SerieBHomeTeamLogo"
                  width="25px"
                  height="25px"
                />

                {{ serieBmatch.teams.home.name }} -

                {{ serieBmatch.teams.away.name }}
                <img
                  [src]="serieBmatch.teams.away.logo"
                  alt="SerieBAwayTeamLogo"
                  width="25px"
                  height="25px"
                />
              </a>
              <p-dialog
                [header]="''"
                [(visible)]="modalSingleSeriebMatch"
                [breakpoints]="{ '960px': '75vw' }"
                [style]="{ height: '50vh' }"
                [draggable]="false"
                [resizable]="false"
                [showHeader]="true"
              >
                <p>
                  {{ serieBmatch.teams.home.name }}
                </p>
              </p-dialog>
            </ng-container>
          </ul>
        </p-dialog>

        <!-- modal single match serie B -->
      </div>
    </section>

    <!-- Mi tengo questa col sotto tante volte volessi inserire una colonna per le ads -->
    <!-- <div class="col">2</div> -->
  </div>
</main>
