@import "../../scss/partials";
:host ::ng-deep {
  * {
    font-family: graphik-semiBold;
  }
  main {
    min-width: 320px;
  }
  @media screen and (min-width: 320px) {
    main {
      margin-top: 1.5rem !important;
      #signInContainer {
        h2 {
          color: #03632f;
        }
        padding: 3rem;
        height: 35rem;
        width: 17rem;
        background-color: white;
        border-radius: 10px;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15),
          inset 0px 4px 8px rgba(0, 0, 0, 0.15),
          inset 0px 8px 16px rgba(0, 0, 0, 0.15);

        form {
          input {
            border-top: none;
            border-right: none;
            border-left: none;
            border-radius: 0;
          }
          button {
            text-align: center;
            width: 12.5rem;
            height: 2.3rem;
          }
        }
      }
      #noAccount {
        text-align: center;
        color: #495057;
      }
    }
  }
  @media screen and (min-width: 576px) {
    main {
      margin-top: 1.5rem !important;
      height: 90vh;
      #signInContainer {
        h2 {
          color: green;
        }
        padding: 3rem;
        height: 30rem;
        width: 35rem;
        background-color: white;
        border-radius: 10px;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15),
          inset 0px 4px 8px rgba(0, 0, 0, 0.15),
          inset 0px 8px 16px rgba(0, 0, 0, 0.15);

        form {
          input {
            border-top: none;
            border-right: none;
            border-left: none;
            border-radius: 0;
          }
          button {
            text-align: center;
            width: 12.5rem;
            height: 2.3rem;
          }
        }
      }
      #noAccount {
        text-align: center;
        color: #495057;
      }
    }
    #loginImage {
      width: 15rem;
      height: 15rem;
    }
  }
  @media screen and (min-width: 783px) {
    main {
      margin-top: 2rem !important;
      margin-left: 3rem;
      height: 90vh;
      #signInContainer {
        h2 {
          color: green;
        }
        padding: 3rem;
        height: 30rem;
        width: 35rem;
        background-color: white;
        border-radius: 10px;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15),
          inset 0px 4px 8px rgba(0, 0, 0, 0.15),
          inset 0px 8px 16px rgba(0, 0, 0, 0.15);

        form {
          input {
            border-top: none;
            border-right: none;
            border-left: none;
            border-radius: 0;
          }
          button {
            text-align: center;
            width: 12.5rem;
            height: 2.3rem;
          }
        }
      }
      #noAccount {
        text-align: center;
        color: #495057;
      }
    }
    #loginImage {
      margin-top: 2rem;
      width: 15rem;
      height: 15rem;
    }
  }
}
.fade {
  -webkit-animation: fade-in 1000ms ease-out both;
  animation: fade-in 1000ms ease-out both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
