<main class="grid justify-content-center fade">
  <section class="grid justify-content-center">
    <div
      id="signInContainer"
      *ngIf="(!isSignedIn && isRegistered) || !isSignedIn"
      class="card flex flex-column align-items-center gap-3 col-12 sm:col-4"
    >
      <h2>Login</h2>
      <form class="grid">
        <input
          class="col-12 mt-5"
          pInputText
          type="text"
          placeholder="email"
          #emailSignIn
        />
        <input
          class="col-12 mt-5 mb-5"
          pInputText
          type="password"
          placeholder="password"
          #passwordSignIn
        />
        <div class="mx-auto">
          <p-button
            class="col-12 mx-auto mt-5"
            (click)="onSignIn(emailSignIn.value, passwordSignIn.value)"
            label="Log in"
          ></p-button>
        </div>
      </form>
      <div id="noAccount">
        <p>or <a routerLink="/register">Sign up</a> from here</p>
      </div>
    </div>
    <div class="hidden sm:block sm-col-4">
      <img id="loginImage" src="../../../assets/login.svg" alt="" />
    </div>
  </section>
  <section>
    <div *ngIf="isSignedIn" class="alreadyLogged">
      <p>You are already logged in.</p>
      <p-button routerLink="" label="Home"></p-button>
    </div>
  </section>
</main>
