#externalContainer {
  margin: auto;
  margin-bottom: 10rem;
  color: #f1f6f4;
  font-family: graphik-semiBold;
}
.divider {
  border-color: #f1f6f4;
}
.articleHow {
  * {
    padding-left: 3rem;
  }
}
