<header>
  <h1>How does it work</h1>
</header>
<main id="externalContainer" class="grid flex-column">
  <div class="title col-12"></div>
  <section class="col-12 grid">
    <article
      class="col-12 lg:col-3 grid divider border-bottom-2 lg:border-right-2 xl:border-bottom-none articleHow"
    >
      <div class="col-12">
        <h3></h3>
        Step 1
      </div>
      <div class="col-12">social marketing</div>
      <img class="col-12 w-100" src="../../assets/signup.svg" alt="" />
      <div class="col-12">class aptenet bla bla</div>
    </article>
    <article
      class="col-12 lg:col-3 grid divider border-bottom-2 lg:border-right-2 xl:border-bottom-none articleHow"
    >
      <div class="col-12">
        <h3></h3>
        Step 1
      </div>
      <div class="col-12">social marketing</div>
      <img class="col-12 w-100" src="../../assets/chart.svg" alt="" />
      <div class="col-12">class aptenet bla bla</div>
    </article>

    <article
      class="col-12 lg:col-3 grid divider border-bottom-2 lg:border-right-2 xl:border-bottom-none articleHow"
    >
      <div class="col-12">
        <h3></h3>
        Step 1
      </div>
      <div class="col-12">social marketing</div>
      <img class="col-12 w-100" src="../../assets/influencer.svg" alt="" />
      <div class="col-12">class aptenet bla bla</div>
    </article>

    <article class="col-12 lg:col-3 grid w-100 articleHow">
      <div class="col-12">
        <h3></h3>
        Step 1
      </div>
      <div class="col-12">social marketing</div>
      <img class="col-12 w-100" src="../../assets/influencer.svg" alt="" />
      <div class="col-12">class aptenet bla bla</div>
    </article>
  </section>
</main>
<app-footer></app-footer>
