<main id="externalContainer" class="grid flex-column fade">
  <h1>How does it work</h1>
  <div class="title col-12"></div>
  <section class="col-12 grid m-auto">
    <article
      class="col-12 lg:col-3 grid divider border-bottom-2 lg:border-right-2 lg:border-bottom-none articleHow"
    >
      <div class="col-12">
        <h3 class="text-4xl">Step 1</h3>
        <ul class="p-0">
          <li class="list-none line-height-4 text-2xl">Go to Start section.</li>

          <li class="list-none line-height-4 text-2xl">
            Select a Championship.
          </li>
          <li class="list-none line-height-4 text-2xl">Choose a match.</li>
          <li class="list-none line-height-4 text-2xl">
            Check our algorithm suggestion.
          </li>
        </ul>
      </div>
      <div class="col-12"></div>
      <img class="col-12 w-100" src="../../assets/signup.svg" alt="" />
    </article>
    <article
      class="col-12 lg:col-3 grid divider border-bottom-2 lg:border-right-2 lg:border-bottom-none articleHow"
    >
      <div class="col-12">
        <h3 class="text-4xl">Step 2</h3>
        <ul class="p-0">
          <li class="list-none line-height-4 text-2xl">
            Study the data used by the algorithm.
          </li>
          <li class="list-none line-height-4 text-2xl">
            Keep in mind the latest news, statements and conferences, our
            algorithm doesn't consider them!
          </li>
        </ul>
      </div>

      <img class="col-12 w-100" src="../../assets/chart.svg" alt="" />
    </article>

    <article
      class="col-12 lg:col-3 grid divider border-bottom-2 lg:border-right-2 lg:border-bottom-none articleHow"
    >
      <div class="col-12">
        <h3 class="text-4xl">Step 3</h3>
        <ul class="p-0">
          <li class="list-none line-height-4 text-2xl">
            Decide if you want to follow the algorithm or modify his prediction.
          </li>
          <li class="list-none line-height-4 text-2xl">
            Add your tip with the input field!
          </li>
        </ul>
      </div>
      <div class="col-12 text-2xl">
        Congratulations! You stood out from the crowd!
      </div>
      <img class="col-12 w-100" src="../../assets/standOut.svg" alt="" />
    </article>

    <article class="col-12 lg:col-3 grid w-100 articleHow">
      <div class="col-12">
        <h3 class="text-4xl">Step 4</h3>
        <ul class="p-0">
          <li class="list-none line-height-4 text-2xl">
            You are now the tispter of yourself!
          </li>
          <li class="list-none line-height-4 text-2xl">
            Go to youR tips section to modify, delete or download your tips
          </li>
          <li class="list-none line-height-4 text-2xl">Enjoy the matches!!</li>
        </ul>
      </div>

      <img class="col-12 w-100" src="../../assets/sofaBlue.svg" alt="" />
    </article>
  </section>
  <div id="gotoStart" class="col-12 grid justify-content-around">
    <p>Let's begin!</p>
    <p-button
      icon="pi pi-arrow-right"
      class="col-12 text-center"
      routerLink="/start"
    ></p-button>
  </div>
</main>
<app-footer></app-footer>
