<!-- <main id="externalContainer">
  <div class="grid">
    <h1 class="col-12 mb-0 mt-5 md:text-center">YouTip</h1>
    <h2 class="col-12 mb-0 mt-5 mb-4 md:text-center">
      Be <span class="yourOwn">your own</span> Tipster
    </h2>
  </div>
  <section id="whyUs">
    <article class="info grid">
      <p class="sm:text-center, m-auto">
        Stop relying on tipsters, become the tipster of yourself.<br />
        Our algorithm will just give you datas and predictions.<br />
        <span>You</span> will be the one to build and customize the tip.
      </p>
    </article>
    <div id="hoeDoesItWork" class="card flex justify-content-center mt-5 mb-5">
      <p-button label="How does it work"></p-button>
    </div>

    <article id="instructions" class="grid xs:mt-5">
      <div
        class="col-12 xs:mt-5 grid justify-content-between align-items-center md:col-6"
      >
        <p class="col-6">You are passionate about football</p>
        <img
          src="../../../assets/kidPlaying.svg"
          alt="kidPlayingFooball"
          class="col-4 col-offset-4 md:col-offset-0 storyPhoto"
        />
      </div>
      <div
        class="col-12 mt-2 grid justify-content-between align-items-center md:col-6 md:flex-row-reverse"
      >
        <p class="col-6">
          ...you know it well, but lately you fell into the trap of Instagram
          and TikTok tipsters..
        </p>
        <img
          src="../../../assets/influencer.svg"
          alt="kidPlayingFooball"
          class="col-4 col-offset-4 storyPhoto"
        />
      </div>
      <div
        class="col-12 mt-2 grid justify-content-between align-items-center md:col-6"
      >
        <p class="col-6">
          ...check our suggestion, then modify it! You choose for yourself!
        </p>
        <img
          src="../../../assets/chart.svg"
          alt="kidPlayingFooball"
          class="col-6 col-offset-4 md:col-offset-0 storyPhoto"
        />
      </div>
      <div
        class="col-12 mt-2 grid justify-content-between align-items-center md:col-6 md:flex-row-reverse"
      >
        <p class="col-6">
          Congratulations! You stand out from the corwd and have your bets.
        </p>
        <img
          src="../../../assets/standOut.svg"
          alt="kidPlayingFooball"
          class="col-4 col-offset-4 storyPhoto"
        />
      </div>
      <div
        class="col-12 mt-2 grid justify-content-between align-items-center md:col-12 md:flex-row-reverse"
      >
        <p class="col-12 text-center">Enjoy the games!</p>
        <img
          src="../../../assets/sofaFootball.svg"
          alt="kidPlayingFooball"
          class="storyPhoto col-12 m-auto"
        />
      </div>
    </article>
    <div class="card flex justify-content-center mt-3">
      <p-button routerLink="/start" label="Let's go!"></p-button>
    </div>

    <div id="lletsGo" class="card flex justify-content-center mt-3">
      <p-button routerLink="login" label="Log In"></p-button>
    </div>
    <div class="card flex justify-content-center mt-3">
      <p-button (click)="logOut()" label="Log out"></p-button>
    </div>
  </section>
</main> -->
<main id="external" class="grid">
  <section id="sx" class="col-12 sm:col-6 grid flex-column">
    <h1>YouTip</h1>
    <h2>Be your own tipster</h2>
    <div class="col-12 grid align-items-center">
      <p-button
        icon="pi pi-play"
        styleClass="p-button-rounded p-button-success p-button-outlined"
        class="col-3"
      ></p-button>
      <p class="col-4">See how it works</p>
    </div>
    <div id="quote" class="col-12">
      <h5>"Eat your betting money, but don't bet your eating money."</h5>
      <h6>Play responsibly</h6>
    </div>
  </section>
  <section
    id="dx"
    class="col-12 sm:col-6 grid flex-column justify-content-start"
  >
    <img id="kidPlaying" src="../../../assets/kidPlaying.svg" alt="" />
    <hr />
    <section id="whyUs" class="col-12 grid">
      <h5 class="col-6">Why us</h5>

      <div class="col-6 grid flex-column">
        <p class="col-12">
          Our goal is to give back to people their passion for football betting.
          It is aìcommon nowadays to follow a tipster and blindly bet what
          he/she says.
        </p>
        <p id="toHideSm" class="col-12">
          You'll have the instruments to study each bet that our algorithm
          suggests you and thenaccept/modify that suggestion
        </p>
        <hr />
        <div id="gotoStart" class="grid justify-content-between">
          <p-button
            icon="pi pi-arrow-right"
            styleClass="p-button-rounded p-button-success p-button-outlined"
            class="col-3 mt-2"
            routerLink="/start"
          ></p-button>
          <p class="col-4">Let's go!</p>
        </div>
      </div>
    </section>
  </section>
</main>
