<main id="externalContainer">
  <h1>YouTip</h1>
  <h2>Be <span class="yourOwn">your own</span> Tipster</h2>
  <section id="whyUs">
    <article class="info">
      <p>
        Stop relying on tipsters, become the tipster of yourself.<br />
        Our algorithm will just give you datas and predictions.<br />
        <span>You</span> will be the one to build and customize the tip.
      </p>
    </article>
    <article class="info">
      <div id="hoeDoesItWork" class="card flex justify-content-center mt-3">
        <p-button label="How does it work"></p-button>
      </div>
    </article>
  </section>
</main>
