<main id="externalContainer">
  <h1>YouTip</h1>
  <h2>Be <span class="yourOwn">your own</span> Tipster</h2>
  <section id="whyUs">
    <article class="info">
      <p>
        Stop relying on tipsters, become the tipster of yourself.<br />
        Our algorithm will just give you datas and predictions.<br />
        <span>You</span> will be the one to build and customize the tip.
      </p>
    </article>
    <div id="hoeDoesItWork" class="card flex justify-content-center mt-3">
      <p-button label="How does it work"></p-button>
    </div>

    <article id="instructions" class="grid">
      <div class="col-12 mt-5 grid align-items-center">
        <h4 class="col-6">
          The trip to your bets begin with something that you already have...
          Passion for football
        </h4>
        <img
          src="../../../assets/kidPlaying.svg"
          alt="kidPlayingFooball"
          id="kidPlayingFooball"
          class="col-6"
        />
      </div>
      <div class="col-12 mt-5 grid align-items-center">
        <h4 class="col-6">
          You like to take advantage of your knowledge of footbal, but lately
          you fell into the trap of Instagram and TikTok tipsters..
        </h4>
        <img
          src="../../../assets/influencer.svg"
          alt="kidPlayingFooball"
          id="kidPlayingFooball"
          class="col-6"
        />
      </div>
      <div class="col-12 mt-5 grid align-items-center">
        <h4 class="col-6">
          It is time for you to re-think again. In the start section you'll find
          the popolar tournaments. Select one and youll'find all matches for the
          next round. Navigate to one match to find all the information and our
          algorithm suggestion. There'll you have all data you'll need to
          evaluate our algorithm suggestion, to finally decide if taking or
          modifying our suggestion.
        </h4>
        <img
          src="../../../assets/chart.svg"
          alt="kidPlayingFooball"
          id="kidPlayingFooball"
          class="col-6"
        />
      </div>
      <div class="col-12 mt-5 grid align-items-center">
        <h4 class="col-6">
          Congratulations! You stand out from the corwd and you have your bets.
          now you can: send it to you vua email, print it or set a reminder with
          your bets
        </h4>
        <img
          src="../../../assets/standOut.svg"
          alt="kidPlayingFooball"
          id="kidPlayingFooball"
          class="col-6"
        />
      </div>
      <div class="col-12 mt-5 grid align-items-center">
        <h4 class="col-6">Enjoy the games!</h4>
        <img
          src="../../../assets/sofaFootball.svg"
          alt="kidPlayingFooball"
          id="kidPlayingFooball"
          class="col-6"
        />
      </div>
    </article>
    <article class="info">
      <p class="fade">
        Now that you have yout tips it is just a matter of play them! You can
        share them with your friends, download as a pdf file or create a memo on
        your calendar.
      </p>
    </article>
    <div id="lletsGo" class="card flex justify-content-center mt-3">
      <p-button routerLink="login" label="Log In"></p-button>
    </div>
    <div class="card flex justify-content-center mt-3">
      <p-button (click)="logOut()" label="Log out"></p-button>
    </div>
  </section>
</main>
