@import "../../scss/partials";
body {
  background-image: $greenForBody;
  // background-repeat: no-repeat;
}
#externalContainer {
  color: #f1f6f4 !important;
  font-family: graphik-semiBold;
  padding: 1rem;
  margin: 0;
  -webkit-animation: fade-in 1000ms ease-out both;
  animation: fade-in 1500ms ease-out both;

  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 5rem;
  }
}
article {
  p {
    font-size: 1.5rem;
    line-height: 2rem;
    span {
      font-style: italic;
    }
  }
  #howDoesItWork {
    background-color: $greenForBody;
  }
}
.fade {
  -webkit-animation: fade-in 3000ms ease-out both;
  animation: fade-in 4500ms ease-out both;
}

//keyframes

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
