/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "/src/app/scss/partials";
@import "primeicons/primeicons.css";
@font-face {
  font-family: graphik-black;
  src: url(./assets/fonts/graphik/GraphikBlack.otf);
}
@font-face {
  font-family: graphik-bold;
  src: url(./assets/fonts/graphik/GraphikBold.otf);
}
@font-face {
  font-family: graphik-semiBold;
  src: url(./assets/fonts/graphik/GraphikSemibold.otf);
}

@font-face {
  font-family: graphik-light;
  src: url(./assets/fonts/graphik/GraphikLight.otf);
}
@font-face {
  font-family: graphik-extraLight;
  src: url(./assets/fonts/graphik/GraphikExtralight.otf);
}
@font-face {
  font-family: graphik-medium;
  src: url(./assets/fonts/graphik/GraphikMedium.otf);
}
@font-face {
  font-family: graphik-regular;
  src: url(./assets/fonts/graphik/GraphikRegular.otf);
}
@font-face {
  font-family: graphik-thin;
  src: url(./assets/fonts/graphik/GraphikThin.otf);
}
@font-face {
  font-family: graphik-super;
  src: url(./assets/fonts/graphik/GraphikSuper.otf);
}

.p-menuitem {
  background-color: #027b3a !important
  ;
  box-shadow: none !important;
  border-radius: 100px !important;
  background: none !important;
}
.p-menuitem-link:hover {
  background-color: #027b3a !important;
  border-radius: 2px !important;
  box-shadow: none !important;
  transform: scale(1.05);
}
.p-menuitem-link:focus {
  background-color: #027b3a !important;
  border-radius: 2px !important;
  box-shadow: none !important;
  transform: scale(1.05);
}

body,
html,
app-root {
  background: $greenForBody;
  min-height: 100vh !important;
}
