
<div id="suggests">
  <h1>The algorithm suggests</h1>
  <h2>{{ (predictionsById[0]?.predictions)!.advice }}</h2>
</div>

<div class="campo">
  <div class="corner">
    <div class="corner1"></div>
    <div class="corner2"></div>
  </div>
  <div class="semi1"></div>
  <div class="semi2"></div>
  <div class="divisoria"></div>
  <div class="interior">
    <div
      style="background-image: url('{{ predictionsById[0]?.teams!.home.logo }}')"
      id="home"
    ></div>
    <div
      id="away"
      style="background-image: url('{{ predictionsById[0]?.teams!.away.logo }}')"
    ></div>
  </div>
  <div class="penalty"></div>
</div>
<section class="grid">

