<!-- inizio tabella comparison -->
<main>
  <section id="externalContainer" class="grid mt-3 mx-0">
    <div id="colonna1diesterno" class="col">
      <div class="grid flex-column" id="gridInterno">
        <div class="col">
          {{ (predictionsById[0]?.league)!.name
          }}{{ (predictionsById[0]?.league)!.country }}
        </div>
        <div class="col">contenuto</div>
        <div class="col">Qui metterei la classifica</div>
      </div>
    </div>
    <div id="colonna2diesterno" class="col">
      <div class="grid flex-column" id="gridInterno">
        <div s class="col">
          {{ (predictionsById[0]?.league)!.name
          }}{{ (predictionsById[0]?.league)!.country }}

          <div class="grid">
            <div class="col">
              <img
                width="30"
                [src]="(predictionsById[0]?.teams)!.home.logo"
                alt="Home"
              />
            </div>
            <div class="col">risultato</div>
            <div class="col">
              <img
                width="30"
                [src]="(predictionsById[0]?.teams)!.away.logo"
                alt="Away"
              />
            </div>
          </div>
          <div class="col">QUI un'altra tabella con risultati e</div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <article class="grid mt-3">
      <div id="pronostico" class="col">
        <h1>The algorithm suggests:</h1>
        <ul>
          <li>
            Home teams goals:
            {{ (predictionsById[0]?.predictions)!.goals.home }}
          </li>
          <li>
            Away teams goals:
            {{ (predictionsById[0]?.predictions)!.goals.away }}
          </li>
          <li>
            Home team scores at least one gol (%) :{{
              (predictionsById[0]?.predictions)!.goals.home
            }}
          </li>
          <li>
            Away team scores at least one gol (%) :{{
              (predictionsById[0]?.predictions)!.goals.away
            }}
          </li>
          <li>
            Final Prediction: {{ (predictionsById[0]?.predictions)!.advice }}
          </li>
        </ul>
      </div>
    </article>
  </section>
</main>
