@import "../../scss/partials";
:host ::ng-deep {
  #externalContainer {
    // width: 90%;
    margin: auto;
  }
  header {
    h3,
    h4 {
      color: $whiteForText;
      text-align: center;
      font-family: graphik-semiBold;
    }
    h3 {
      font-size: 2rem;
    }
  }
  #field {
    margin: auto;
  }

  #suggests {
    color: $whiteForText;
    font-family: graphik-semiBold;
    text-align: center;
    margin-bottom: 2rem;
    img {
      width: 90%;
      height: 90%;
    }
    p {
      font-size: 1.4rem;
    }
    h1 {
      font-size: 2rem;
    }
  }

  #standings {
    div.p-panel-header {
      background: $greenForBody;
    }
    div.p-panel-content {
      background: $greenForBody;
    }

    background: $greenForBody;
    border: none;
    span {
      color: $whiteForText;
      background: transparent;
    }
    minusicon,
    plusicon {
      background: transparent;
    }

    .main-container {
      width: 100%;
      height: 100%;
      display: flex;
      margin: 0;
      justify-content: center;
      align-items: center;
    }

    .table-container {
      display: flex;
      flex-flow: column nowrap;
      background-color: white;
      width: 100%;
      margin: 0 auto;
      border-radius: 4px;
      border: 1px solid #dadada;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    }

    .table-row {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      border-bottom: 1px solid #dadada;
    }

    .heading {
      background-color: #ececec;
      color: #3e3e3e;
      font-weight: bold;
    }

    .row-item {
      display: flex;
      flex: 1;
      font-size: 14px;
      padding: 8px 0;
      justify-content: center;
      align-items: center;
      transition: all 0.15s ease-in-out;
    }

    .row-item:hover {
      cursor: pointer;
      background-color: #f0f0f0;
    }

    .row-sub-container {
      display: flex;
      flex-flow: column nowrap;
      flex: 1;
    }

    .row-sub-container .row-item {
      padding: 8px 0;
      border-bottom: 1px solid #dadada;
    }

    .table-row:last-child,
    .row-sub-container .row-item:last-child {
      border-bottom: 0;
    }
  }

  canvas {
    margin: 0;
    padding: 0;
  }

  // qui stats
  #stats,
  #lastMatches {
    margin-top: 0;
    margin-bottom: 0;
    color: $whiteForText;
    font-family: graphik-semiBold;
    text-align: center;
    li {
      list-style-type: none;
    }
  }
  #statsText {
    margin-top: 2.5rem;
    color: $whiteForText;
    font-family: graphik-semiBold;
    h4 {
      margin-top: 3rem;
      margin-bottom: 0;
    }
  }
  .p-icon {
    color: #f1f4f6;
  }
  #finalTip {
    font-family: graphik-semiBold;
    text-align: center;
    color: #f1f6f4 !important;

    p {
      font-size: 1.4rem;
    }

    h3 {
      margin-top: 2rem;
      font-size: 2rem;
    }
  }
  form {
    input {
      width: 20rem;
      margin-right: 4rem;
    }
    .pi-cart-plus {
      color: #f1f4f6;
    }
  }
  #congratulations {
    font-family: graphik-semiBold;
    text-align: center;
    color: #f1f6f4 !important;
    #stoodOut {
      width: 90%;
    }
    p {
      font-size: 1.4rem;
    }
  }
}
@media screen and (min-width: 707px) {
  header {
    h3 {
      margin-top: 0.5rem;
      font-size: 5rem;
    }
    h4 {
      font-size: 2rem;
      margin-bottom: 0;
    }
  }
  #field {
    max-width: 80%;
  }
  #suggests {
    h1 {
      font-size: 3rem;
    }
    img {
      width: 50%;
    }
  }
}
